parameters:
  level: 7
  reportUnmatchedIgnoredErrors: false
  bootstrapFiles:
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
  paths:
    - %currentWorkingDirectory%/VariableAnalysis/
  excludePaths:
    - %currentWorkingDirectory%/Tests/
  ignoreErrors:
    - '~^Constant T_\w+ not found.$~'
