<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.0/phpunit.xsd"
	bootstrap="Tests/bootstrap.php"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="VariableAnalysis">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
			<directory>./VariableAnalysis/</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-text" target="php://stdout" showOnlySummary="true"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
