<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/10.5/phpunit.xsd"
		bootstrap="Tests/bootstrap.php"
		cacheDirectory="build/.phpunit-cache"
		displayDetailsOnTestsThatTriggerErrors="true"
		displayDetailsOnTestsThatTriggerWarnings="true"
		displayDetailsOnTestsThatTriggerNotices="true"
		displayDetailsOnTestsThatTriggerDeprecations="true"
		displayDetailsOnIncompleteTests="true"
		displayDetailsOnSkippedTests="true"
		displayDetailsOnPhpunitDeprecations="false"
		failOnWarning="true"
		failOnNotice="true"
		failOnDeprecation="true"
		failOnPhpunitDeprecation="false"
	>
	<testsuites>
		<testsuite name="VariableAnalysis">
			<directory>Tests</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory>./VariableAnalysis/</directory>
		</include>
	</source>

	<coverage includeUncoveredFiles="true" ignoreDeprecatedCodeUnits="true">
		<report>
			<clover outputFile="build/logs/clover.xml"/>
			<text outputFile="php://stdout" showOnlySummary="true"/>
		</report>
	</coverage>
</phpunit>
